{% extends '@!EasyAdmin/default/list.html.twig' %}
{% block sidebar %}
	<div class="alert alert-info">Surcharge du design de base easyAdmin ({{ _self }})</div>

	{{ parent() }}
	<div class="alert alert-info">Fin de la surcharge.</p>
{% endblock %}
